<% for city in @country.cities %>
<% @url += city.name + "%2C" + "|circle-white||"%>
<% @url.gsub!(' ','%20') %>
<% end %>

<div class = "main_map">
  <img src ="<%= @map_url %><%= @url %>">
</div>

<h1>Cities in <%=@country.name %></h1>

<div class="table-container">
<table>
  <% for city in @country.cities%>
  <tr>
    <td><a href="/cities/<%= city.id %>"><%= city.name %></a></td>

   <td>    <form action="/cities/<%= city.id %>/delete" method="POST">
         <input class="btn btn--danger" type="submit" value="delete" /><p class="warning"> Warning! Deleting a city will delete all the sights in that city.</p>
       </form></td>
  </tr>
  <% end %>
  </table>
  </div>
