<h1>All Sights</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for sight in @sights %>
  <tr>
    <td><a href="/sights/<%= sight.id %>"><%= sight.name %></a></td>
  </tr>
  <tr>
    <td><a href="/cities/<%= sight.city.id %>"><%= sight.city.name %></a></td>
  </tr>
  <tr>
    <td><a href="/countries/<%= sight.city.country.id %>"><%= sight.city.country.name %></a></td>
  </tr>
  <% end %>
</table>
