<% for sight in @sights %>
<% if sight.status == "visited" %>
<% @url += sight.city.name + "%2C" + sight.city.country.name + "|circle-start-V||"%>
<% else %>
<% @url += sight.city.name + "%2C" + sight.city.country.name + "|circle-end-B||"%>
<% end %>
<% @url.gsub!(' ','%2B') %>
<% end %>

<div class = "main_map">
  <img src ="<%= @map_url %><%= @url %>">
</div>
<div style="clear:both;">

<div class = "row">
  <div class = "left-panel">

  <h1>Add a place</h1>

  <form action="/sights" method="post">
  <table>
    <tr>
      <td><label for="name">Site Name:</label></td>
      <td><input type="text" name="name" id="name"></td>
    </tr>
    <tr>
      <td><label for="city">City</label></td>
      <td><input type="text" name="city" id="city"></td>
    <tr>
      <td><label for="country">Country</label></td>
      <td><input type="text" name="country" id="country"></td>
    <tr>
      <td></td>
      <td>
        <div class="custom-select-none">
          <select name="status" id="status">
            <option value="visited">Visited</option>
            <option value="bucket">On my bucket list</option>
          </select>
        </div>
      </td>
    </tr>
    <tr><td></td>
        <td><input class="btn btn--action" type='submit' value="Submit">
    </td>
    </tr>
  </table>
  </form>
  </div>
  <div class = "right-panel"




<div class="table-container">
<table>
  <% for sight in @sights %>
  <tr>
    <td><a href="/sights/<%= sight.id %>"><%= sight.name %></a></td>
    <td><a href="/cities/<%= sight.city.id %>"><%= sight.city.name %></a></td>
    <td><a href="/countries/<%= sight.city.country.id %>"><%= sight.city.country.name %></a></td>
    <td>

    <form action="/sights/update_status/<%= sight.id %>" method="post">
      <% if sight.status == "visited" %>
      <div class="custom-select-visited">
        <select name="status" id="status">
        <option selected="selected" value="visited">Visited</option>
        <option value="bucket">Bucket List</option>
      <% else %>
      <div class="custom-select-bucket">
        <select name="status" id="status">
        <option selected="selected" value="bucket">Bucket List</option>
        <option value="visited">Visited</option>
      <% end %>
        </select>
      </div>
     <td><input class="btn btn--action" type='submit' value="Update Status"></td>
   </form>
   </td>
   <td>    <form action="/sights/<%= sight.id %>/delete" method="POST">
         <input class="btn btn--danger" type="submit" value="delete" />
       </form></td>
  </tr>
  <% end %>
  </table>
  </div>
</div>
